.SkillperCon{
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    justify-content: space-around;
}

.skilli{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langim{
    width: 20vmin;
}

.percent{
    margin-top: 5vmin;
    font-size: 4vmin;
}

.language{
    width: 10vmin;
    margin-bottom: 2vh;
    margin-right: 1vh;
}